.message-details {
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
}

.message-sender {
  font-weight: bold;
  font-size: 18px;
  margin-right: 8px;
}

.message-left {
  display: inline-block;
  width: 49px;
  margin-right: 12px;
}

.message-right {
	align-self: flex-end;
	position: relative;
	width: 20px;
	height: 20px;
}

.material-icons.reply-button {
  color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  cursor: pointer;
  user-select: none;
  position: absolute;
}

.material-icons.reply-button:hover {
  color: rgba(0, 0, 0, 0.4);
}

.Message:hover .material-icons.reply-button {
  visibility: visible;
}

.message-info {
  margin-bottom: 8px;
}

.message-time {
  color: #acacad;
  font-size: 15px;
}

.MessageGroup {
  margin-bottom: 25px;
}

.Message {
  margin-bottom: 4px;
  display: flex;
}

.message-left .message-time {
  visibility: hidden;
  font-size: 13px;
}

.Message:hover .message-time {
  visibility: visible;
}

.Message .Avatar {
  width: 46px;
  height: 46px;
}

.message-anim-enter {
  opacity: 0.01;
}

.message-anim-enter.message-anim-enter-active {
  opacity: 1;
  transition: 150ms;
}

.message-anim-leave {
  opacity: 1;
}

.message-anim-leave.message-anim-leave-active {
  opacity: 0.01;
  transition: 150ms;
}

.paragraph {
  white-space: pre-wrap;
}