.user-info .Avatar {
    width: 45px;
    height: 45px;
}

.user-info-name {
    display: inline-block;
    font-size: 20px;
    margin-left: 12px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}