.TypingText {
	position: absolute;
	background: rgba(244, 245, 255, 0.86);
	padding: 12px 0px;
	margin-top: -40px;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
}

.TypingText.visible {
    opacity: 1;
    transition: 0.4s;
}

.typing-message {
    font-size: 16px;
    margin-left: 27px;
}