body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e4b5c;
}

a, .link {
  text-decoration: none;
  color: rgb(40, 90, 226);
  cursor: pointer;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

button::-moz-focus-inner {
  border: 0;
}